* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
    /*background: #DBE1E8;*/
    /*border: 0;*/
}

body {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*align-items: center;*/
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: #323A45;
}

.navbar__links {
    margin-left: auto;
    color:#DBE1E8;
}

.main {
    display: flex;
    height: 100%;
    flex: 1;
}

.content {
    margin: 5px;
}

.table {

}

.enterprises__table {
    background: #DBE1E8;
    border: 1px solid #9EA7B3;
}

.enterprises__table {
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

.enterprises__table tbody tr th, .enterprises__table tbody tr td {
    padding: 5px;
    border-right: 1px solid #9EA7B3;
    border-bottom: 1px solid #9EA7B3;
}

.enterprises__table tbody tr th {
    background: #5E6D81;
    color: #DBE1E8;
}

.enterprises__table tbody tr:hover {
    background: #9EA7B3;
    cursor: pointer;
}


.accordion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
}

.accordion .accordion-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
}

.accordion .accordion-header .accordion-header-text {
    flex: 1;
}

