* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
    /*background: #DBE1E8;*/
    /*border: 0;*/
}

body {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*align-items: center;*/
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}

.post-enter {
    transform: translateX(-350px);
}

.post-enter-active {
    transform: translateX(0);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: #323A45;
}

.navbar__links {
    margin-left: auto;
    color: #DBE1E8;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    flex: 1;
}

.content {
    margin: 5px;
    overflow: auto;
    width: 100%;
}

.table {

}

.enterprises__table {
    background: #DBE1E8;
    border: 1px solid #9EA7B3;
}

.enterprises__table {
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

.enterprises__table tbody tr th, .enterprises__table tbody tr td {
    padding: 5px;
    border-right: 1px solid #9EA7B3;
    border-bottom: 1px solid #9EA7B3;
}

.enterprises__table tbody tr th {
    background: #5E6D81;
    color: #DBE1E8;
}

.enterprises__table tbody tr:hover {
    background: #9EA7B3;
    cursor: pointer;
}


.accordion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
}

.accordion .accordion-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
}

.accordion .accordion-header .accordion-header-text {
    flex: 1;
}

.report_technical_economic_list {
    display: flex;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
}

.report_technical_economic_list_item {
    width: 50px;
    /*border: 1px solid #5E6D81;*/
    /*margin: 5px;*/
}

/* Simple Tab */

.tab-container {
    text-align: left;
    margin-top: 10px;
    width: 100%;
    background-color: white;
    box-shadow: #00000020 0 1px 3px, rgba(0, 0, 0, 0.12) 0 1px 12px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.tab-item {
    text-transform: uppercase;
    /*width: 100%;*/
    /*min-width: 80px;*/
    /*padding: 16px 20px 11px 20px;*/
    padding: 12px 24px;
    font-size: 12px;
    text-align: center;
    color: #323A45;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tab-item:hover {
    opacity: 1;
    background-color: rgba(158, 167, 179, 0.05);
    border-color: rgba(94, 109, 129, 0.1);
}

.tab-item.active {
    opacity: 1;
    background-color: rgba(158, 167, 179, 0.2);
    border-color: rgba(94, 109, 129, 1);
}

.tab-content {
    padding: 28px 20px;
}

.tab-pane {
    color: #333;
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

.enterprise_id_page_main {
    display: flex;
    justify-content: space-around;
}

.enterprise_id_page_main_item, .enterprise_id_page_main_sidebar {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*border: 1px solid #9EA7B3;*/
    margin: 5px;
    border-radius: 5px;
    box-shadow: #00000020 0 1px 3px, rgba(0, 0, 0, 0.12) 0 1px 12px;
}

.enterprise_id_page_main_item {
    width: 60%;

}

.enterprise_id_page_main_sidebar {
    width: 35%
}